extends layout

block content
  #startPage
    a(href="/") Back
    h1 Welcome #{title}
    h2 You may enter new item and labor needs and view enterred orders below.
    
    select#formSelect
      option(value="item") Item
      option(value="labor") Labor

    .Form#itemForm
      form(method="POST")
        input(type="hidden", class="formName", name="formName", value="Items")
        label(for="itemName") Item Name: 
        br
        input(type="text", id="itemName", name="itemName")
        br
        label(for="itemQty") Item Quantity: 
        br
        input(type="text", id="itemQty", name="itemQty")
        br
        label(for="itemAddress") Address: 
        br
        input(type="text", id="itemAddress", name="itemAddress")
        br
        input(type="submit", name="")
    p #{itemName}
    p #{itemQty}
    p #{itemAddr}

    .Form#laborForm
      form(method="POST")
        input(type="hidden", class="formName", name="formName", value="Labor")
        label(for="laborName") Labor Required: 
        br
        input(type="text", id="laborName", name="laborName")
        br
        label(for="laborStartDate") Start Date: 
        br
        input(type="text", id="laborStartDate", name="laborStartDate")
        br
        label(for="laborEndDate") End Date: 
        br
        input(type="text", id="laborEndDate", name="laborEndDate")
        br
        label(for="laborAddr") Address: 
        br
        input(type="text", id="laborAddress", name="laborAddress")
        br
        input(type="submit", name="")
    p #{laborName}
    p #{laborStartDate}
    p #{laborEndDate}
    p #{laborAddr}

    table#itemsTable
      thead
        tr
          th ID
          th Name
          th Quantity
          th Address
          th Status
      tbody
        tr
    br

    table#laborTable
      thead
        tr
          th ID
          th Name
          th Start Date
          th End Date
          th Address
          th Status
      tbody
        tr


    p#hiddenItemsData(style="display: none") #{itemsData}

    

block scripts
  script(src="/javascripts/tableGenerator.js")
  script(src="/javascripts/fema_director_form.js")
  
      
    