extends layout

block content
  #startPage
    a(href="/") Back
    h1 Welcome #{title}
    h2 You may enter new item and labor needs and view enterred orders below.
    
    select#formSelect
      option(value="item") Item
      option(value="labor") Labor

    .Form#itemForm
      form(method="POST")
        input(type="hidden", class="formName", name="formName", value="Items")
        label(for="item_name") Item Name: 
        br
        input(type="text", id="item_name", name="item_name")
        br
        label(for="item_quantity") Item Quantity: 
        br
        input(type="text", id="item_quantity", name="item_quantity")
        br
        label(for="destination_street") Street: 
        br
        input(type="text", id="destination_street", name="destination_street")
        br
        label(for="destination_city") City: 
        br
        input(type="text", id="destination_city", name="destination_city")
        br
        label(for="destination_state") State Code: 
        br
        input(type="text", id="destination_state", name="destination_state")
        br
        label(for="destination_zip") ZIP: 
        br
        input(type="text", id="destination_zip", name="destination_zip")
        br
        input(type="submit", name="")

    .Form#laborForm
      form(method="POST")
        input(type="hidden", class="formName", name="formName", value="Labor")
        label(for="labor_description") Labor Description: 
        br
        input(type="text", id="labor_description", name="labor_description")
        br
        label(for="begin_date") Begin Date: 
        br
        input(type="text", id="begin_date", name="begin_date")
        br
        label(for="end_date") End Date: 
        br
        input(type="text", id="end_date", name="end_date")
        br
        label(for="labor_street") Street: 
        br
        input(type="text", id="labor_street", name="labor_street")
        br
        label(for="labor_city") City: 
        br
        input(type="text", id="labor_city", name="labor_city")
        br
        label(for="labor_state") State Code: 
        br
        input(type="text", id="labor_state", name="labor_state")
        br
        label(for="labor_zip") ZIP: 
        br
        input(type="text", id="labor_zip", name="labor_zip")
        br
        input(type="submit", name="")
    p #{laborName}
    p #{laborStartDate}
    p #{laborEndDate}
    p #{laborAddr}

    table#itemsTable
      thead
        tr
          th ID
          th Name
          th Quantity
          th Destination Street
          th Destination City
          th Destination State Code
          th Destination ZIP
          th Current Street
          th Current City
          th Current State Code
          th Current ZIP
          th Completion Status
          th Orderer
          th Supplier
          th Distribution Center
      tbody
        tr
    br

    table#laborTable
      thead
        tr
          th ID
          th Description
          th Begin Date
          th End Date
          th Street
          th City
          th State Code
          th ZIP
          th Completion Status
          th Orderer
          th Volunteer
      tbody
        tr


    p#hiddenItemsData(style="display: none") #{itemsData}

    

block scripts
  script(src="/javascripts/tableGenerator.js")
  script(src="/javascripts/fema_director_form.js")
  
      
    