extends layout

block content
  #SupplierPage
    a(href="./") Back
    h1 Welcome #{title}! 
    h2 Please enter your Supplier name and address, as well as the ID of an item order to fulfil from the table below.

    .Form#supplierForm
      form(method="POST")
        label(for="supplierName") Supplier Name: 
        br
        input(type="text", id="supplierName", name="supplierName")
        br
        label(for="current_street") Supplier Street: 
        br
        input(type="text", id="current_street", name="current_street")
        br
        label(for="current_city") Supplier City: 
        br
        input(type="text", id="current_city", name="current_city")
        br
        label(for="current_state") Supplier State Code: 
        br
        input(type="text", id="current_state", name="current_state")
        br
        label(for="current_zip") Supplier ZIP: 
        br
        input(type="text", id="current_zip", name="current_zip")
        br
        label(for="i_request_id") Item Order ID: 
        br
        input(type="text", id="i_request_id", name="i_request_id")
        br
        label(for="item_quantity") Quantity: 
        br
        input(type="text", id="item_quantity", name="item_quantity")
        br
        label(for="s_supplier") Supplier ID: 
        br
        input(type="text", id="s_supplier", name="s_supplier")
        br
        input(type="submit", name="")
    p #{supplierName}
    p #{supplierAddr}
    p #{itemID}

    table#itemsTable
      thead
        tr
          th ID
          th Name
          th Quantity
          th Destination Street
          th Destination City
          th Destination State Code
          th Destination ZIP
      tbody
        tr

    p#hiddenItemsData(style="display: none") #{itemsData}

block scripts
  script(src="/javascripts/tableGenerator.js")
  script(src="/javascripts/supplierForm.js")
